* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

button {
  cursor: pointer;
}

:root {
  --primary-color: #4f39f6;
  --secondary-color: oklch(87.2% .01 258.338);
  --dark-color: #101828;
}

/* utilites */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.newsletter {
  margin: 20px;
  position: relative;
  padding: 20px;
  height: 500px;
  background-color: #101826;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 10;
}

.rounde-shadow {
  position: absolute;
  background-color: #432A56;
  height: 300px;
  width: 50%;
  border-radius: 50%;
  bottom: -45%;
  /* bottom: 0px; */
  left: 50%;
  z-index: 5;
  filter: blur(90px);
  transform: translateX(-50%);
}

/* .newsletter * {
  position: relative;
  z-index: 1;
} */

.main-heading {
  font-size: 2.5rem;
  color: white;
}

.description {
  color: oklch(87.2% .01 258.338);
  font-size: 1.2rem;
  max-width: 45%;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin: 10px auto;
}

.input-design {
  border: 1px solid rgba(192, 192, 192, 0.162);
  border-radius: 6px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.064);
  padding: 12px 10px;
  outline: none;
  margin-top: 25px;
  min-width: 350px;
  color: white;
}

::placeholder {
  color: silver;
  opacity: 1;
  /* Firefox */
}

.notify-btn {
  margin-top: 25px;
  margin-left: 10px;
  border: none;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 1;
  border-radius: 6px;
  color: var(--dark-color);
  background-color: white;
}

.actual-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}