/* write your css here */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  text-decoration: none;
}

.text-gray-600 {
  color: #4a5565;
}

:root {
  --primary-color: #615fff;
  --secondary-color: #6a7282;
  --dark-color: #111827;
  --dark-line-color: #6B7280;
}

.data-table {
  max-width: 1280px;
  width: 100%;
  margin: 30px auto;
}

.data-tbl-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}


.tbl-head {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.tbl-extra-info {
  color: oklch(37.3% .034 259.733);
  font-size: 14px;
}

.primary-add-btn {
  background-color: var(--primary-color);
  border: none;
  padding: 9px 12px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

table {
  width: 100%;
}

table tr th {
  text-align: start;
  padding-bottom: 15px;
  font-weight: 500;
  border-bottom: 1px solid #6b72806d;
}

table tr td {
  padding-block: 16px;
  border-bottom: 1px solid #6b72806d;
  color: #6a7282;
}

table tr td:last-child {
  text-align: right;
}

table tr td:first-child {
  font-weight: 500;
  color: #111827;
}

.edit-btn {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: bold;
}