/* write your css here */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #4f39f6;
  --dark-color: #101828;
  --secondary-color: #6a7282;
}

/* utilites */

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0px auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.pricing-card-section {
  padding: 40px 0;
}

.pricing-card-section .price-tag {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.sec-heading h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.sec-heading p {
  text-align: center;
  max-width: 60%;
  width: 100%;
  line-height: 1.5;
  margin: 0px auto;
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-1,
.card-3 {
  padding: 0px 40px;
}

.card-2 {
  border-left: 1px solid  #6a72824c;
  border-right: 1px solid   #6a72824c;
  padding: 0px 40px;
}

.plan-type {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--dark-color);
  margin-bottom: 1.2rem;
}

.plan-price span {
  font-size: 2.2rem;
  font-weight: bolder;
  margin-right: 2px;
  color: var(--dark-color);
}

.plan-price {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.profit {
  margin-bottom: 35px;
  color: #6a7282e8;
  font-size: 1rem;
}

.plan-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding-block: 12px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.features p {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 30px;

}

.features-bullet li {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  gap: 10px;
  margin-bottom: 12px;
}

.features-bullet li:last-child {
  margin: 0px;
}

.features-bullet li i {
  color: var(--primary-color);
}


/* #101826 */