
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

.text-gray-900 {
  color: var(--color-gray-900);
}

.text-gray-500 {
  color: var(--color-gray-500);
}

.text-gray-600 {
  color: var(--color-gray-600);
}

.text-white {
  color: var(--color-white);
}

.bg-indigo-600 {
  background-color: var(--color-indigo-600);
}

.font-medium {
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
}

:root {
  
  --default-font-feature-settings: var(--font-sans--font-feature-settings);
  --default-mono-font-family: var(--font-mono);
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

:root {
  --secondary-color: #6a7282;
  --secondary--color: oklch(87.2% .01 258.338);
}

/* utilites */

.call-to-action {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.part-1 {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.part-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.part-2 {
  background-color: #101826;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.part-2 .tag-line {
  color: #7989ED;
  margin-bottom: 1rem;
  font-weight: 600;
}

.head {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;

}

.desc {
  /* color: var(--secondary-color); */
  color: var(--secondary--color);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2.3rem;
}

.visit-btn {
  padding: 13px 15px;
  border: none;
  font-weight: 600;
  background-color: #28303C;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}