* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

.date-color {
  color: oklch(55.1% .027 264.364);
}

.blog-desc-color {
  color: oklch(44.6% .03 256.802);
}

.tag-color {
  color: oklch(44.6% .03 256.802);
}

.tag-bg {
  background-color: oklch(98.5% .002 247.839);
}

/* utilites */

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0px auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.section-heading h1 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 12px;
  margin-top: 30px;
}

.section-heading p {
  font-size: 1.1rem;
  margin-bottom: 4rem;
}

.blog-img img {
  border: 1px solid #6a728246;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.blog-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-bottom: 5rem;

}

.blog-img {
  grid-column: 1/ 5;
  width: 100%;
  height: 330px;
}

.blog-content {
  width: 100%;
  display: grid;
  grid-column: 5 / -1;
  row-gap: 20px;
  align-content: flex-start;
}


.date {
  margin-right: 20px;
  font-size: 12px;
}

hr {
  padding: .5px;
  border: none;
  background-color: #6a72823f;
}

.blog-head-color {
  color: oklch(21% .034 264.665);
}

.tag {
  padding: 7px 10px;
  border-radius: 50rem;
  font-size: 12px;
  font-weight: 600;
}

.blog-added {
  display: flex;
  gap: 15px;
  align-items: center;
}

.profile {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.blog-body {
  margin-bottom: 30px;
}

.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-name {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 600 !important;
}

.blog-descri {
  font-size: 15px;
  line-height: 1.6;
}

.user-post {
  font-size: 14px;
  margin-top: 5px;
}